---
import Footer from '~/components/Footer.astro';
import Layout from '~/layouts/Layout.astro';
const metadata = {
  title: 'プライバシーポリシー | Senpai',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <main class="">
    <div class="container sm:py-28 py-16 px-4">
      <h1 class="h2 text-center">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">プライバシーポリシー</font></font>
      </h1>
      <p class="caption1 mt-8">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            あなたのプライバシーは私たちにとって重要です。Makeshift Software
            Incのポリシーは、お客様のプライバシーを尊重し、当社のアプリであるSenpaiを含む、お客様について収集する可能性のある個人情報に関する適用法および規制を遵守することです,
            および関連するサービス。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            個人情報とは、ユーザーの識別に使用できるユーザーに関する情報です。これには、個人としてのあなたに関する情報(名前、住所、生年月日など)、デバイス、支払いの詳細,
            アプリやオンラインサービスの使用方法に関する情報も。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            アプリにサードパーティのサイトやサービスへのリンクが含まれている場合は、それらのサイトやサービスに独自のプライバシーポリシーがあることに注意してください。サードパーティのコンテンツへのリンクをたどった後、個人情報を収集して使用する方法について、投稿されたプライバシーポリシー情報を読む必要があります。このプライバシーポリシーは、アプリを離れた後のアクティビティには適用されません。</font
          ></font
        ><br /><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> このポリシーは2023年8月19日から有効です。</font></font
        ><br /><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> 最終更新日:2023年8月19日</font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">収集する情報</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            私たちが収集する情報は、“自発的に提供される”情報と“自動的に収集される”情報の2つのカテゴリのいずれかに分類されます。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            “自発的に提供される”情報とは、当社のアプリとその関連サービスを使用する際に、故意かつ積極的に提供する情報を指します。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            “自動的に収集される”情報とは、アプリおよび関連するサービスにアクセスする過程でデバイスから自動的に送信される情報を指します。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">データログ</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            アプリ経由でサーバーにアクセスすると、デバイスから提供された標準データが自動的にログに記録される場合があります。デバイスのインターネットプロトコル(IP)アドレス、デバイスのタイプとバージョン、アプリ内のアクティビティ、日時、および使用方法に関するその他の詳細が含まれる場合があります。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            さらに、アプリの使用中に特定のエラーが発生すると、エラーとその発生を取り巻く状況に関するデータが自動的に収集されます。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            このデータには、デバイスに関する技術的な詳細、エラーが発生したときに何をしようとしていたか、および問題に関連するその他の技術情報が含まれる場合があります。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            そのようなエラーが発生した瞬間、発生した、またはエラーの性質が何かについて、そのようなエラーの通知を受け取る場合と受け取らない場合があります。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            この情報はそれ自体では個人を特定できない場合がありますが、他のデータと組み合わせて個人を個人的に特定できる場合がありますのでご注意ください。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">デバイスデータ</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            当社のアプリは、次のようなデバイスの組み込みツールを介してデータにアクセスして収集する場合があります:</font
          ></font
        ><br /><br />
      </p><div class="pl-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; あなたのアイデンティティ</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; 位置データ</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; カメラ</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; マイク</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; ストレージ、写真、メディア</font></font
        ><br />
      </div>
      <br /><font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">
          アプリをインストールするか、アプリ内でデバイスのツールを使用すると、この情報にアクセスする許可が要求されます。収集する特定のデータは、デバイスの個々の設定と、アプリをインストールして使用するときに許可する権限によって異なります。
        </font></font
      ><h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">個人情報</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            たとえば、コンテンツを当社に送信するとき、または以下の1つ以上を含む可能性のある—に連絡するときに、個人情報を要求する場合があります:</font
          ></font
        ><br /><br />
      </p><div class="pl-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; 名前</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; メール</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; ソーシャルメディアプロファイル</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; 生年月日</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; 電話/携帯電話番号</font></font
        ><br />
      </div>
      <br /><font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">
          さらに、Senpaiアプリを使用することにより、Makeshift Software
          Incに地理的な場所を収集して処理する許可を与えます。このデータを使用して、他のユーザーとの距離に基づいて、より正確な一致を提供します。
        </font></font
      ><h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">アニメの設定</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            トップ10のお気に入りのアニメ(プレミアムユーザーの場合は15)を含むアニメの設定は、マッチメイキングアルゴリズムで重要です。これらの詳細を共有することで、相互の利益に基づいてより良い一致をキュレーションするのに役立ちます。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Spotify Syncing</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            ユーザーはSpotifyアカウントを同期するオプションがあります。同期すると、トップ5のアーティストと聴いた曲がプロフィールに表示されます。このデータは、Senpaiアプリを使用して他のユーザーが一般にアクセスできます。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">機密情報</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            “機密情報”または“データの特別なカテゴリ”は、より高いレベルの保護が与えられる個人情報のサブセットです。
            お客様について収集する可能性のある機密情報の種類は次のとおりです:</font
          ></font
        ><br /><br />
      </p><div class="pl-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 人種的または民族的起源 •&nbsp;&nbsp;&nbsp; 性的指向
          </font></font>
      </div>
      <br /><font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">
          お客様の機密情報は、最初にお客様の同意を得ることなく収集することはありません。また、お客様の機密情報は、法律で許可、要求、または許可されている場合にのみ使用または開示します。
        </font></font
      ><h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">ユーザー生成コンテンツ</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            “ユーザー生成コンテンツ”は、プラットフォームでの公開を目的としてユーザーから自発的に提供された資料(テキスト、画像、ビデオコンテンツ)であると見なします,
            ウェブサイトまたはソーシャルメディアチャネルでの再公開。ユーザーが生成したすべてのコンテンツは、資料の提出に使用されるアカウントまたは電子メールアドレスに関連付けられています。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            公開の目的で送信したコンテンツは、投稿(およびその後のレビューまたは審査プロセス)後に公開されることに注意してください。公開されると、このプライバシーポリシーの対象外の第三者がアクセスできる場合があります。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">個人情報を処理する正当な理由</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            当社は、正当な理由がある場合にのみ、お客様の個人情報を収集して使用します。その場合、当社はお客様にサービスを提供するために合理的に必要な個人情報のみを収集します。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">情報の収集と使用</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            当社のウェブサイトで以下のいずれかを行う場合、当社はお客様から個人情報を収集する場合があります:</font
          ></font
        ><br /><br />
      </p><div class="pl-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; アカウントに登録する</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; コンテスト、コンテスト、懸賞、調査のいずれかに参加します</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; モバイルデバイスまたはWebブラウザーを使用してコンテンツにアクセスする</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 電子メール、ソーシャルメディア、または同様のテクノロジーについてお問い合わせください</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; ソーシャルメディアで私たちに言及するとき
          </font></font>
      </div>
      <br /><font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">
          当社は、以下の目的で情報を収集、保持、使用、および開示する場合があり、個人情報は、これらの目的に適合しない方法でさらに処理されることはありません:</font
        ></font
      ><br /><br />
      <div class="pl-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; アプリとプラットフォームのコア機能とサービスを提供する</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 当社のWebサイトのエクスペリエンスをカスタマイズまたはパーソナライズできるようにする</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; 製品やサービスをお客様に提供する</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; 連絡して連絡する</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            分析、市場調査、およびビジネス開発(アプリ、関連アプリケーション、および関連するソーシャルメディアプラットフォームの運用と改善を含む)</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            当社の製品およびサービスに関するプロモーション情報、およびお客様が関心を持つと思われる第三者に関する情報を送信することを含む、広告およびマーケティング</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            アプリ、関連プラットフォーム、および関連するソーシャルメディアチャネルにアクセスして使用できるようにする</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 競技会、懸賞、および/または追加の特典を提供する</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            セキュリティと詐欺の防止のため、および当社のサイトとアプリが安全、安全、および当社の利用規約に沿って使用されていることを確認するため</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            アプリ、関連アプリケーション、および関連するソーシャルメディアプラットフォームの運用と改善を含む、技術的評価</font
          ></font
        ><br />
      </div>
      <br /><font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">
          自発的に提供され、自動的に収集された個人情報を、他の信頼できる情報源から受け取った一般情報または研究データと組み合わせることができます。たとえば、ソーシャルメディアプロファイルにアクセスすることに同意した場合,
          これらのプロファイルから取得した情報と直接受け取った情報を組み合わせて、アプリとサービスのエクスペリエンスを向上させることができます。
        </font></font
      ><h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">個人情報のセキュリティ</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            個人情報を収集して処理し、この情報を保持している間、損失や盗難、不正アクセス、開示を防ぐために、商業的に許容できる手段の範囲内で保護します,
            コピー、使用、または変更。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            私たちはあなたが私たちに提供する個人情報を保護するために最善を尽くしますが、電子送信または保管の方法は100%安全ではないことをお勧めします,
            絶対的なデータセキュリティを保証することはできません。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            お客様は、パスワードとその全体的なセキュリティ強度を選択し、当社のサービスの範囲内で独自の情報のセキュリティを確保する責任があります。たとえば、個人情報やアカウントへのアクセスに関連するパスワードが安全で機密であることを確認します。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">私たちはあなたの個人情報をどのくらい保持します</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            お客様の個人情報は、必要な場合に限り保持されます。この期間は、このプライバシーポリシーに従って、お客様の情報を何に使用しているかに依存する場合があります。たとえば、アカウントの作成の一環として個人情報を提供した場合、アカウントがシステムに存在する間、この情報を保持することがあります。この目的のためにお客様の個人情報が不要になった場合は、お客様を特定するすべての詳細を削除することにより、個人情報を削除するか、匿名にします。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            ただし、必要に応じて、法的、会計、または報告義務の遵守のため、または公共の利益のためのアーカイブ目的で、科学的な個人情報を保持する場合があります,
            または歴史的研究目的または統計目的。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">子供のプライバシー</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >13歳未満の子供に直接製品やサービスを対象とすることはなく、13歳未満の子供に関する個人情報を故意に収集することもありません。</font
          ></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">第三者への個人情報の開示</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> 個人情報は以下に開示する場合があります:</font></font
        ><br /><br />
      </p><div class="pl-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; 当社の親会社、子会社、または関連会社</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            ITサービスプロバイダー、データストレージ、ホスティングおよびサーバープロバイダー、広告ネットワーク、分析などのサービスを提供できるようにするサードパーティサービスプロバイダー,
            エラーロガー、債権回収業者、保守または問題解決プロバイダー、広告プロバイダー、専門アドバイザー、および支払いシステムオペレーター</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 従業員、請負業者、および/または関連団体</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 既存または潜在的なエージェントまたはビジネスパートナー</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 私たちが運営するコンテスト、懸賞、またはプロモーションのスポンサーまたはプロモーター</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            私たちが提供した商品またはサービスの支払いに失敗した場合の信用調査機関、裁判所、裁判所、規制当局</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            実際のまたは将来の法的手続きに関連して、または確立、行使するために、法律で要求される裁判所、裁判所、規制当局、および法執行官,
            または私たちの法的権利を守る</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            情報、製品、サービス、またはダイレクトマーケティングの提供を支援するエージェントまたは下請け業者を含む第三者</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; データを収集して処理するサードパーティ</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 資産および事業のすべてまたは実質的にすべてを購入または譲渡する事業体
          </font></font>
      </div><font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;"> 現在使用しているサードパーティは次のとおりです:</font></font
      ><br /><br />
      <div class="pl-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; Google Analytics</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; Google Adsense</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; Googleの支払い</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; Apple Pay</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; Spotify</font></font>
      </div>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">あなたの権利とあなたの個人情報の管理</font></font>
      </h2>
      <p class="caption1 mt-4">
        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">あなたの選択:</font></font></b
        ><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            当社に個人情報を提供することにより、このプライバシーポリシーに従ってお客様の個人情報を収集、保持、使用、開示することを理解したことになります。個人情報を提供する必要はありませんが、提供しない場合は、アプリまたは製品の使用に影響を与える可能性があります/またはその上またはそれを介して提供されるサービス。</font
          ></font
        ><br />
        <b
          ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">第三者からの情報:</font></font
          ></b
        ><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            第三者からお客様の個人情報を受け取った場合は、このプライバシーポリシーに記載されているように保護します。あなたが他の誰かに関する個人情報を提供する第三者である場合、あなたは私たちに個人情報を提供することにそのような人の同意があることを表明し、保証します。</font
          ></font
        ><br />
        <b
          ><font style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;">マーケティング許可:</font></font
          ></b
        ><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            ダイレクトマーケティングの目的で個人情報を使用することに以前に同意した場合は、以下の詳細を使用して当社に連絡することにより、いつでも気が変わることがあります。</font
          ></font
        ><br />
        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">アクセス:</font></font></b
        ><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            私たちが保持している個人情報の詳細を要求することができます。</font
          ></font
        ><br />
        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">訂正:</font></font></b><font
          style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            私たちが保持している情報が不正確、古く、不完全、無関係、または誤解を招くと思われる場合は、このプライバシーポリシーに記載されている詳細を使用してご連絡ください。不正確、不完全、誤解を招く、または古くなっていることが判明した情報を修正するために、合理的な措置を講じます。</font
          ></font
        ><br />
        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">非差別:</font></font></b><font
          style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            私たちはあなたの個人情報に対するあなたの権利を行使したことをあなたを差別しません。特定のサービスまたはオファーを提供するためにお客様の個人情報が必要でない限り(たとえば、デバイスに特定のコンテンツを提供する)、商品またはサービスを拒否することはありません/または、割引やその他の特典の付与、ペナルティの課せなど、商品やサービスのさまざまな価格や料金を請求します,
            または、商品またはサービスの異なるレベルまたは品質を提供します。</font
          ></font
        ><br />
        <b
          ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">データ侵害の通知:</font></font
          ></b
        ><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> データ侵害に関して適用される法律を遵守します。</font></font
        ><br />
        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">苦情:</font></font></b><font
          style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            関連するデータ保護法に違反していると思われる場合は、苦情を申し立ててください,
            以下の詳細を使用して私たちに連絡し、申し立てられた違反の詳細を提供してください。私たちはあなたの苦情を迅速に調査し、あなたに書面で回答し、私たちの調査の結果とあなたの苦情に対処するために取るべき手順を説明します。また、お客様には、苦情に関連して規制機関またはデータ保護機関に連絡する権利があります。</font
          ></font
        ><br />
        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">購読を解除:</font></font></b
        ><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >メールデータベースまたはコミュニケーションのオプトアウト(マーケティングコミュニケーションを含む)の登録を解除するには、このプライバシーポリシーに記載されている詳細を使用してご連絡ください,
            または、通信で提供されるオプトアウト機能を使用したオプトアウト。私たちはあなたの身元を確認するためにあなたに特定の情報を要求する必要があるかもしれません。</font
          ></font
        ><br />
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">クッキーの使用</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            当社のプライバシーポリシーは、デバイスとサーバー間のCookieの使用をカバーしています。Cookieは、アプリがデバイスに保存する小さなデータです,
            通常、アプリを使用するときにアプリサーバーがデバイスを認識できるようにする一意の識別子が含まれます。アカウント、セッション、デバイスに関する情報;
            Cookieの目的を果たす追加のデータ、およびCookie自体に関する自己メンテナンス情報。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            私たちはCookieを使用して、デバイスがアプリのコア機能にアクセスできるようにし、デバイスでのアプリの使用状況とパフォーマンスを追跡し、好みに基づいてアプリのエクスペリエンスを調整します,
            デバイスに広告を提供します。デバイスとサーバー間のCookieデータの通信は、安全な環境内で行われます。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            詳細については、当社のCookieポリシーを参照してください。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">事業譲渡</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            私たちまたは私たちの資産が取得された場合、または万が一廃業したり破産したりした場合は、お客様の個人情報を含むデータが含まれます,
            私たちを買収するすべての当事者に譲渡された資産の中で。お客様は、そのような譲渡が発生する可能性があること、および当社を取得した当事者は、適用される法律で許可される範囲で、このポリシーに従ってお客様の個人情報を引き続き使用できることを認め,
            これは、そのような情報に対して私たちが持っている所有権または使用権の基礎であるため、想定する必要があります。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">私たちの方針の制限</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            私たちのアプリは、私たちが運営していない外部サイトにリンクする場合があります。これらのサイトのコンテンツとポリシーは管理できず、それぞれのプライバシー慣行に対する責任または責任を受け入れることはできません。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">このポリシーの変更</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            当社の裁量により、プライバシーポリシーを変更して、ビジネスプロセスの更新、現在受け入れられている慣行、または立法または規制の変更を反映する場合があります。このプライバシーポリシーを変更する場合は、ここと当社のWebサイトに変更を投稿します。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            変更が重要な場合、または適用法で必要な場合は,
            新しい詳細と更新または変更されたポリシーへのリンクを使用して、お客様(当社からの通信の選択された設定に基づいて)およびすべての登録ユーザーに連絡します。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            法律で義務付けられている場合は、お客様の許可を得るか、必要に応じて、お客様の個人情報の新しい使用をオプトインまたはオプトアウトする機会を提供します。</font
          ></font
        ><br />
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">オーストラリアのプライバシー法遵守のための追加の開示(AU)</font></font>
      </h2>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">個人情報の国際転送</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >個人情報の開示がオーストラリアのプライバシー法の対象となる場合,
            お客様は、一部の第三者がプライバシー法およびプライバシー法のオーストラリアのプライバシー原則によって規制されていない可能性があることを認めます。そのような第三者がオーストラリアのプライバシー原則に違反する行為または慣行に従事している場合、それはプライバシー法に基づく責任がないことを認めます,
            プライバシー法に基づく救済を求めることはできません。</font
          ></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">一般データ保護規則の追加開示( GDPR )コンプライアンス( EU )</font
          ></font>
      </h2>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">データコントローラー/データプロセッサー</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >GDPRは、個人情報を独自の目的で処理する組織(“データコントローラー”として知られています)と他の組織に代わって個人情報を処理する組織(“データプロセッサー”として知られています)を区別します)。私たちMakeshift
            Software
            Incは、お問い合わせセクションにあるアドレスにあり、お客様から提供された個人情報に関するデータ管理者です。</font
          ></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">個人情報を処理するための法的根拠</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >お客様の個人情報を収集して使用するのは、法的権利がある場合のみです。その場合、私たちはあなたの個人情報を合法的に、公正に、そして透明な方法で収集し、使用します。個人情報の処理に同意を求め、16歳未満の場合,
            私たちは、その特定の目的のために個人情報を処理するために、親または法定後見人の同意を求めます。
            私たちの合法的な基盤は、使用するサービスとそれらの使用方法によって異なります。つまり、以下の理由でのみお客様の情報を収集して使用します:</font
          ></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">あなたからの同意</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >特定の目的で個人情報を収集して使用することに同意した場合。お客様は、当社が提供する施設を使用していつでも同意を取り消すことができます。ただし、これはすでに行われている情報の使用には影響しません。景品やプロモーションを入力する目的で、名前と連絡先の詳細を提供することに同意する場合があります。いつでもエントリを取り消すことができますが、これはすでに行われている選択や判断には影響しません。同意を取り消す方法についてさらに質問がある場合は、このプライバシーポリシーの「お問い合わせ」セクションに記載されている詳細を使用して、お気軽にお問い合わせください。</font
          ></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">契約または取引の履行</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >お客様が当社と契約または取引を行った場合、またはお客様との契約または取引を開始する前に準備手順を実行するため。たとえば、アプリの重要な機能を提供するために、デバイスに関する技術情報が必要です。</font
          ></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">私たちの正当な利益</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >私たちが評価する場合、サービスを提供、運用、改善、伝達するなど、正当な利益が必要です。たとえば、アプリのエクスペリエンスを向上させ、パーソナライズするために、デバイスに関する技術情報を収集します。私たちは正当な利益に研究開発を含め、聴衆を理解し,
            当社のサービスのマーケティングと促進、当社のサービスを効率的に運営するために講じられた措置、マーケティング分析、および当社の法的権利と利益を保護するために講じられた措置。</font
          ></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">法の遵守</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >場合によっては、お客様の個人情報を使用または保持する法的義務がある場合があります。このような場合には、裁判所命令、犯罪捜査、政府の要求、規制義務が含まれる場合があります(これらに限定されません)。法律を遵守するために個人情報をどのように保持するかについてさらに質問がある場合は,
            このプライバシーポリシーの「お問い合わせ」セクションに記載されている詳細を使用して、お気軽にお問い合わせください。</font
          ></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">欧州経済領域外への国際移転(EEA)</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >欧州経済領域(EEA)の国からEEA以外の国への個人情報の転送は、適切な保護手段によって保護されるようにします,
            たとえば、欧州委員会によって承認された標準的なデータ保護条項を使用したり、拘束力のある企業規則やその他の法的に認められた手段を使用したりします。</font
          ></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">あなたの権利とあなたの個人情報の管理</font></font>
      </h2>
      <p class="caption1 mt-4">
        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">制限:</font></font></b><font
          style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            お客様は、(i)お客様の個人情報の正確性について懸念がある場合、お客様の個人情報の処理を制限するよう要求する権利を有します;
            (ii)お客様の個人情報が違法に処理されたと思われる場合。
            (iii)法的請求の目的でのみ個人情報を維持する必要があります;
            または(iv)正当な利益に基づく処理に関して、異議を検討しているところです。</font
          ></font
        ><br />
        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">処理への反対:</font></font></b
        ><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            お客様には、当社の正当な利益または公益に基づく個人情報の処理に反対する権利があります。これが行われた場合、お客様の個人情報の処理を進めるために、お客様の利益、権利、および自由を無効にする処理について、説得力のある正当な根拠を提供する必要があります。</font
          ></font
        ><br />
        <b
          ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">データの移植性:</font></font
          ></b
        ><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            お客様は、当社が保持する個人情報のコピーを要求する権利を有する場合があります。可能な場合は、この情報をCSV形式またはその他の読みやすい機械形式で提供します。また、この個人情報を第三者に転送するよう要求する権利がある場合もあります。</font
          ></font
        ><br />
        <b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">削除:</font></font></b><font
          style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"
            >お客様は、当社が保持する個人情報をいつでも削除するよう要求する権利を有する場合があります,
            また、現在の記録からお客様の個人情報を削除するために合理的な措置を講じます。個人情報の削除を依頼された場合は、削除がアプリ、ウェブサイト、または製品とサービスの使用にどのように影響するかをお知らせします。特定の法的理由により、この権利には例外がある場合があります。該当する場合は、お客様の要求に応じて設定します。アカウントを終了または削除すると、アカウントの削除から30日以内に個人情報が削除されます。検索エンジンや同様の第三者は、特定のプロファイル情報やパブリックコメントなど、少なくとも1回公開された個人情報のコピーを保持している可能性があることに注意してください,当社のサービスから情報を削除したり、アカウントを無効にした後でも。</font
          ></font
        ><br />
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">カリフォルニアコンプライアンス(米国)の追加開示</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            カリフォルニア州民法第1798.83条に基づき、カリフォルニアに住んでいて、私たちとのビジネス関係が主に個人的、家族的、または家庭的な目的である場合,
            マーケティング目的で他の組織にリリースする情報についてお尋ねください。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            このようなリクエストを行うには、このプライバシーポリシーに記載されている詳細を使用して、件名に“カリフォルニアのプライバシー情報のリクエスト”を添えてご連絡ください。このタイプのリクエストは、暦年に1回行うことができます。昨年、マーケティング目的で他の組織に公開した個人情報のカテゴリのリストと、その名前と住所をメールでお送りします。この方法で共有されるすべての個人情報がカリフォルニア民法のセクション1798.83でカバーされているわけではありません。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">追跡しない</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            一部のブラウザーには“追跡しない”機能があり、オンラインアクティビティを追跡したくないことをWebサイトに伝えることができます。現時点では、ブラウザ“追跡しない”信号には応答しません。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            私たちは、このプライバシーポリシーで概説されている基準を遵守し、個人情報を合法的、公正、透明、および正当な法的理由で収集および処理することを保証します。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">クッキーとピクセル</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            ブラウザが許可すれば、いつでも当サイトからのCookieを拒否できます。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            ほとんどのブラウザでは、ブラウザの設定をアクティブにして、すべてまたは一部のCookieの設定を拒否できます。したがって、Cookieを制限する機能は、ブラウザの機能にのみ基づいています。詳細については、このプライバシーポリシーの[Cookie]セクションを参照してください。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">CCPA認定の金銭的インセンティブ</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            差別のないあなたの権利に従って、CCPAによって許可された特定の金銭的インセンティブを提供することができます,
            または私たちが提供する商品またはサービスの品質レベル。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            私たちが提供するCCPA認定の金銭的インセンティブは、お客様の個人情報の価値に合理的に関連し、そのようなオファーの性質を明確に説明する書面を提供します。金銭的インセンティブプログラムに参加するには、事前のオプトイン同意が必要です。これはいつでも取り消すことができます。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">収集のカリフォルニア通知</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            過去12か月間に、カリフォルニア消費者プライバシー法に列挙されている次のカテゴリの個人情報を収集しました:
          </font></font>
      </p><p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            名前、電子メールアドレス、電話番号のアカウント名、IPアドレス、アカウントに割り当てられたIDまたは番号などの識別子。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            年齢や性別などの人口統計。このカテゴリには、他のカリフォルニアまたは連邦法で保護された分類とみなされる可能性のあるデータが含まれます。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 当社のサービスとのやり取りなどのインターネット活動。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp;
            オーディオまたはビジュアルデータ(写真やビデオなど)を共有したり、サービスに投稿したりします。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> •&nbsp;&nbsp;&nbsp; 地理位置データ。</font></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 私たちと一緒に仕事に応募するときに提供するデータなど、雇用と教育のデータ。</font
          ></font
        ><br />
      </p>
      <br /><font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">
          収集した情報の詳細については、情報を受け取るソースを含め、“収集した情報”のセクションをご覧ください。これらのカテゴリの個人情報は、サービスの提供と管理を含め、“情報の収集と使用”セクションに記載されているビジネス目的で収集および使用します。
        </font></font
      ><h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">知って削除する権利</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            カリフォルニア州の居住者である場合、お客様は、収集した個人情報を削除し、過去12か月間のデータ慣行に関する特定の情報を知る権利を有します。特に、あなたには私たちに以下を要求する権利があります:
          </font></font>
      </p><p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 私たちがあなたについて収集した個人情報のカテゴリ;</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 個人情報が収集されたソースのカテゴリ;</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; ビジネス目的で開示または販売されたお客様に関する個人情報のカテゴリ;</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 個人情報がビジネス目的で開示された、または販売された第三者のカテゴリ;</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 個人情報を収集または販売するためのビジネスまたは商業目的。そして</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            •&nbsp;&nbsp;&nbsp; 私たちがあなたについて収集した特定の個人情報。</font
          ></font
        ><br />
      </p>
      <br /><font style="vertical-align: inherit;"
        ><font style="vertical-align: inherit;">
          これらの権利を行使するには、このプライバシーポリシーに記載されている詳細を使用してご連絡ください。
        </font></font
      ><h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">光を照らす</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            あなたがカリフォルニアの居住者である場合、上記の権利に加えて, カリフォルニアの“ Shine the Light
            ”で定義されている特定の個人情報を、サードパーティおよび関連会社と共有する方法について、当社に情報を要求する権利があります
            ダイレクトマーケティングの目的。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            この情報を受け取るには、このプライバシーポリシーに記載されている連絡先の詳細を使用してリクエストを送信してください。</font
          ></font
        ><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            リクエストには、説明の最初の行に“ California Privacy Rights Request
            ”を含め、名前、住所、都市、州、郵便番号を含める必要があります。
          </font></font>
      </p>
      <h2 class="title2 mt-12">
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">お問い合わせ</font></font>
      </h2>
      <p class="caption1 mt-4">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">
            プライバシーに関する質問や懸念事項については、次の詳細を使用してお問い合わせください:</font
          ></font
        ><br /><br /><font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;"> ハーバートジョセフ</font></font
        ><br /><br />
        <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Team@senpaiapp.com</font></font>
      </p>
    </div>
    <hr class="color-white opacity-10" />
    <div class="footer text-center p-8" data-astro-cid-sz7xmlte="">
      <div class="flex sm:flex-row flex-col items-center justify-center gap-4" data-astro-cid-sz7xmlte="">
        <a href="/cookie-policy" class="" data-astro-cid-sz7xmlte=""
          ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> クッキーポリシー</font></font
          ></a
        >
        <a href="/privacy-policy" data-astro-cid-sz7xmlte=""
          ><font style="vertical-align: inherit;"
            ><font style="vertical-align: inherit;"> プライバシーポリシー</font></font
          ></a
        >
        <a href="/terms-of-service" data-astro-cid-sz7xmlte=""
          ><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 利用規約</font></font></a
        >
      </div>
      <div class="caption2 text-neutral-200 mt-8" data-astro-cid-sz7xmlte="">
        <font style="vertical-align: inherit;"
          ><font style="vertical-align: inherit;">© 2023 Makeshift Software Inc。すべての権利は留保されています</font
          ></font>
      </div>
      <div class="social-icons flex items-center gap-1 mt-4 justify-center" data-astro-cid-sz7xmlte="">
        <a href="https://youtube.com" data-astro-cid-sz7xmlte="">
          <img src="/assets/images/youtube.svg" alt="YouTube" width="40" class="h-[40px]" data-astro-cid-sz7xmlte="" />
        </a>
        <a href="https://instagram.com" data-astro-cid-sz7xmlte="">
          <img
            src="/assets/images/instagram.svg"
            alt="YouTube"
            width="40"
            class="h-[40px]"
            data-astro-cid-sz7xmlte=""
          />
        </a>
        <a href="https://twitter.com/senpai_app" data-astro-cid-sz7xmlte="">
          <img src="/assets/images/twitter.svg" alt="YouTube" width="40" class="h-[40px]" data-astro-cid-sz7xmlte="" />
        </a>
        <a href="https://www.tiktok.com/@senpaiapp" data-astro-cid-sz7xmlte="">
          <img src="/assets/images/tiktok.svg" alt="YouTube" width="40" class="h-[40px]" data-astro-cid-sz7xmlte="" />
        </a>
      </div>
      <img src="/assets/images/footer-gradient.png" alt="フッターBG" class="footer-bg" data-astro-cid-sz7xmlte="" />
    </div>
  </main>
</Layout>
