---

---

<div class="wifes sm:hidden block">
  <div class="dot-circle-1">
    <svg width="400" height="400" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle
        cx="200"
        cy="200"
        r="200"
        stroke="url(#paint0_linear_482_911)"
        stroke-width="0.919743"
        stroke-dasharray="7.36 7.36"></circle>
      <defs>
        <linearGradient id="paint0_linear_482_911" x1="200" y1="0" x2="200" y2="400" gradientUnits="userSpaceOnUse">
          <stop stop-color="#DE0BC9"></stop>
          <stop offset="1" stop-color="#1286F0"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="dot-circle-2">
    <svg width="300" height="300" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle
        cx="150"
        cy="150"
        r="150"
        stroke="url(#paint0_linear_482_912)"
        stroke-width="0.919743"
        stroke-dasharray="7.36 7.36"></circle>
      <defs>
        <linearGradient id="paint0_linear_482_912" x1="150" y1="0" x2="150" y2="300" gradientUnits="userSpaceOnUse">
          <stop stop-color="#DE0BC9"></stop>
          <stop offset="1" stop-color="#1286F0"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="dot-circle-3">
    <svg width="200" height="200" viewBox="0 0 200 200" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle
        cx="100"
        cy="100"
        r="100"
        stroke="url(#paint0_linear_482_913)"
        stroke-width="0.919743"
        stroke-dasharray="7.36 7.36"></circle>
      <defs>
        <linearGradient id="paint0_linear_482_913" x1="100" y1="0" x2="100" y2="200" gradientUnits="userSpaceOnUse">
          <stop stop-color="#DE0BC9"></stop>
          <stop offset="1" stop-color="#1286F0"></stop>
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="heart-pink">
    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 36 36" fill="none">
      <path
        d="M32.3179 13.8384C32.3179 20.7687 26.5897 24.4617 22.3965 27.7672C20.9169 28.9337 19.4917 30.0319 18.0666 30.0319C16.6415 30.0319 15.2164 28.9337 13.7367 27.7672C9.54356 24.4617 3.81538 20.7687 3.81538 13.8384C3.81538 6.90809 11.6538 1.99327 18.0666 8.65597C24.4795 1.99327 32.3179 6.9081 32.3179 13.8384Z"
        fill="#BC20CF"></path>
    </svg>
  </div>

  <div class="heart-blue">
    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 33 33" fill="none">
      <path
        d="M3.05191 12.4719C3.05191 19.0495 8.48862 22.5546 12.4684 25.6919C13.8728 26.799 15.2254 27.8414 16.578 27.8414C17.9306 27.8414 19.2832 26.799 20.6876 25.6919C24.6673 22.5546 30.104 19.0495 30.104 12.4719C30.104 5.89422 22.6645 1.22949 16.578 7.55315C10.4915 1.22949 3.05191 5.89422 3.05191 12.4719Z"
        fill="#3472EA"></path>
    </svg>
  </div>

  <div class="wife-1">
    <img src="/assets/images/wife_1.png" alt="wife1" width={188} />
  </div>
  <div class="wife-2">
    <img src="/assets/images/wife_2.png" alt="wife2" width={278} />
  </div>
</div>

<style>
  .wifes {
    position: relative;

    .wife-1 {
      display: inline-block;
      position: absolute;
      bottom: 76px;
      left: 90px;
      width: 73px;
    }

    .wife-2 {
      display: inline-block;
      position: absolute;
      bottom: 12px;
      right: 24px;
      width: 75px;
    }
  }

  .dot-circle-1 {
    animation: circle 48s linear infinite;
    position: absolute;
    left: -10px;
    bottom: -230px;
  }

  .dot-circle-2 {
    animation: circle-reverse 48s linear infinite;
    position: absolute;
    left: 40px;
    bottom: -180px;
  }

  .dot-circle-3 {
    animation: circle 48s linear infinite;
    position: absolute;
    left: 90px;
    bottom: -130px;
  }

  .heart-pink {
    /* animation: heart-pink 24s linear infinite; */
    position: absolute;
    left: 220px;
    bottom: 100px;
  }

  .heart-blue {
    /* animation: heart-blue 24s linear infinite; */
    position: absolute;
    left: 45px;
    bottom: 30px;
  }
</style>
