---
import Footer from "~/components/Footer.astro";
import Layout from "~/layouts/Layout.astro";
const metadata = {
    title: 'Cookie Policy | Senpai',
    ignoreTitleTemplate: true,
};
---
  
  <Layout metadata={metadata}>
    <main class="">
        <div class="container sm:py-28 py-16 px-4">
            <h1 class="h2 text-center">Cookie Policy</h1>
            <p class="caption1 mt-8">
                We use cookies to help improve your experience of our website at https://senpaiapp.com. <br/>
                This cookie policy is part of Makeshift Software Inc's privacy policy. It covers the use of cookies between your device and our site.<br/>
                We also provide basic information on third-party services we may use, who may also use cookies as part of their service. <br/>
                This policy does not cover their cookies.
                If you don’t wish to accept cookies from us, you should instruct your browser to refuse cookies from https://senpaiapp.com. In such a case, we may be unable to provide you with some of your desired content and services.
            </p>
            <h2 class="title2 mt-12">What is a cookie?</h2>
            <p class="caption1 mt-4">
                A cookie is a small piece of data that a website stores on your device when you visit. <br/>
                It typically contains information about the website itself, a unique identifier that allows the site to recognize your web browser when you return, additional data that serves the cookie’s purpose, and the lifespan of the cookie itself.<br/>
                Cookies are used to enable certain features (e.g. logging in), track site usage (e.g. analytics), store your user settings (e.g. time zone, notification preferences), and to personalize your content (e.g. advertising, language).<br/>
                Cookies set by the website you are visiting are usually referred to as first-party cookies. <br/>
                They typically only track your activity on that particular site.
                Cookies set by other sites and companies (i.e. third parties) are called third-party cookies They can be used to track you on other websites that use the same third-party service.
                Types of cookies and how we use them
            </p>
            <h2 class="title2 mt-12">Essential cookies</h2>
            <p class="caption1 mt-4">
                Essential cookies are crucial to your experience of a website, enabling core features like user logins, account management, shopping carts, and payment processing.<br/>
                We use essential cookies to enable certain functions on our website.
            </p>
            <h2 class="title2 mt-12">Performance cookies</h2>
            <p class="caption1 mt-4">
                Performance cookies track how you use a website during your visit. Typically, this information is anonymous and aggregated, with information tracked across all site users. They help companies understand visitor usage patterns, identify and diagnose problems or errors their users may encounter, and make better strategic decisions in improving their audience’s overall website experience. These cookies may be set by the website you’re visiting (first-party) or by third-party services. They do not collect personal information about you.<br/>
                We use performance cookies on our site.
            </p>
            <h2 class="title2 mt-12">Functionality cookies</h2>
            <p class="caption1 mt-4">
                Functionality cookies are used to collect information about your device and any settings you may configure on the website you’re visiting (like language and time zone settings). With this information, websites can provide you with customized, enhanced, or optimized content and services. These cookies may be set by the website you’re visiting (first-party) or by third-party services.<br/>
                We use functionality cookies for selected features on our site.
            </p>
            <h2 class="title2 mt-12">Targeting/advertising cookies</h2>
            <p class="caption1 mt-4">
                Targeting/advertising cookies help determine what promotional content is most relevant and appropriate to you and your interests. <br/>
                Websites may use them to deliver targeted advertising or limit the number of times you see an advertisement. <br/>
                This helps companies improve the effectiveness of their campaigns and the quality of content presented to you. <br/>
                These cookies may be set by the website you’re visiting (first-party) or by third-party services. Targeting/advertising cookies set by third-parties may be used to track you on other websites that use the same third-party service.<br/>
                We use targeting/advertising cookies on our site.
            </p>
        </div>
        <hr class="color-white opacity-10" />
        <Footer />
    </main>
  </Layout>
  