@import "assets/css/header.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #545454;
}

.container {
  margin: 0 auto;
}

.what-we-work-container {
  .what-we-work-details {
    display: none;
  }
  &:hover .what-we-work-details {
    display: block;
  }
}

.service-type {
  .left-skew {
    width: 70%;
    transform: skew(-27deg);
    position: relative;
    margin-left: -21%;
    margin-bottom: 0;
    padding: 0 0 0 10%;
    float: left;
    display: flex;
    background-position: center;
    background-size: cover;
    background-color: #000;
    overflow: hidden;
    background-image: none!important;

    & img {
      display: block;
      transform: skew(27deg) translateX(-50%);
      position: absolute;
      width: auto;
      height: 100%;
      left: 70%;
      top: 0;
      object-fit: cover;
      opacity: 0.2;
    }

    .skew-wrapper {
      z-index: 10;
      position: relative;
      transform: skew(27deg);
    }
  }

  .right-skew {
    background-position: center;
    background-size: cover;
    background-color: #000;
    overflow: hidden;
    background-image: none!important;
    width: 70.5%;
    transform: skew(-27deg);
    position: relative;
    margin-right: -21%;
    padding: 0 0 0 5%;
    float: right;
    display: flex;

    & img {
      display: block;
      transform: skew(27deg) translateX(-50%);
      position: absolute;
      width: auto;
      height: 100%;
      left: 30%;
      top: 0;
      object-fit: cover;
      opacity: 0.2;
    }

    .skew-wrapper {
      z-index: 10;
      position: relative;
      transform: skew(27deg);
    }
  }
}

.main {
  & ul > li {
    list-style-type: none;
    font-size: 1em;
    padding: 4px 0;

    &:before{
      content: '\2713';
      display: inline-block;
      color: #ff5d1b;
      padding: 0 8px 0 0;
    }
  }
}

.home-title-heading {
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 50px;
    bottom: 0;
    background: #fff;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  &.white-mode::after {
    background: #000;
  }

  &:hover::after {
    width: 80px;
  }
}

.left-title-heading{
  position: relative;

  &::after {
    content: "";
    display: inline-block;
    height: 2px;
    position: absolute;
    width: 50px;
    bottom: 0;
    background: #fff;
    left: 0;
  }

  &.white-mode::after {
    background: #000;
  }

  &:hover::after {
    width: 80px;
  }
}

.footer {
    &::before {
      content: '';
      display: block;
      height: 67px;
      left: 0;
      position: absolute;
      top: -50px;
      width: 100%;
      z-index: 999999;
      -webkit-mask-image: url(/assets/images/footer-pattern.png);
      mask-image: url(/assets/images/footer-pattern.png);
      -webkit-mask-position: left top;
      mask-position: left top;
      background-color: #40404a;
    }
}

