---

---

<div class="footer text-center p-8">
  <div class="flex sm:flex-row flex-col items-center justify-center gap-4">
    <a href="/cookie-policy" class="">
      Cookie Policy
    </a>
    <a href="/privacy-policy">
      Privacy Policy
    </a>
    <a href="/terms-of-service">
      Terms Of Service
    </a>
  </div>
  <div class="caption2 text-neutral-200 mt-8">© 2024 Makeshift Software Inc. All Rights Reserved</div>
  <div class="social-icons flex items-center gap-1 mt-4 justify-center">
    <a href="https://youtube.com">
      <img src="/assets/images/youtube.svg" alt="youtube" width={40} class="h-[40px]" />
    </a>
    <a href="https://instagram.com">
      <img src="/assets/images/instagram.svg" alt="youtube" width={40} class="h-[40px]" />
    </a>
    <a href="https://twitter.com/senpai_app">
      <img src="/assets/images/twitter.svg" alt="youtube" width={40} class="h-[40px]" />
    </a>
    <a href="https://www.tiktok.com/@senpaiapp">
      <img src="/assets/images/tiktok.svg" alt="youtube" width={40} class="h-[40px]" />
    </a>
  </div>
  <img src="/assets/images/footer-gradient.png" alt="footer-bg" class="footer-bg" />
</div>

<style>
  .footer {
    position: relative;

    .footer-bg {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
</style>
