---
import WifesLeft from '~/components/wifes/WifesLeft.astro';
import WifesRight from '~/components/wifes/WifesRight.astro';
import WifesMobile from '~/components/wifes/WifesMobile.astro';
import { MailChimp } from '~/utils/mailchimp';

import { SITE } from '~/utils/config';
import { calculateLaunchDate } from '~/utils/utils';

const errors = { email: '' };
let success = false;

if (Astro.request.method === 'POST') {
  const data = await Astro.request.formData();
  const email = data.get('email');

  if (typeof email !== 'string' || !/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
    errors.email += 'Email is not valid. ';
  }

  const hasErrors = Object.values(errors).some((msg) => msg);
  if (!hasErrors) {
    await MailChimp.subscribe(email as string);
    success = true;
  }
}

let launchDate = new Date(SITE.launchDate);
const { months, days, hours } = calculateLaunchDate(launchDate);
let launched = months == days && days == hours && hours == 0;
---

<div class="header sm:h-[885px] h-[820px]">
  <div class="header-bg-pink absolute sm:top-[400px] sm:left-[400px] top-[300px] left-[100px]"></div>
  <div class="header-bg-blue absolute sm:top-[400px] sm:left-[400px] top-[300px] left-[100px]"></div>

  <div class="content h-full flex flex-col w-full">
    <div class="sm:ml-24 sm:mt-24 mx-auto mt-10">
      <img src="/assets/images/logo.svg" alt="logo" width={152} />
    </div>
    <div class="flex flex-grow sm:flex-row flex-col justify-between w-full">
      <WifesLeft />
      <div class="w-full relative">
        <div class="absolute left-0 w-full text-center mt-4 z-50">
          <div class="max-w-[528px] mx-auto flex-col p-4 sm:p-0">
            <div class="h1">Dating app for</div>
            <div class="h1 font-bold mt-2">anime lovers.</div>
            {
              !launched && (
                <div>
                  <div class="flex items-center gap-8 mt-20 justify-center flex-wrap">
                    <div class="ios">
                      <h2 style="font-weight: 800;font-size: 1.3em;">Coming Soon</h2>
                      <img src="/assets/images/appstore.png" alt="appstore" />
                    </div>
                    <a href="https://play.google.com/store/apps/details?id=makeshift.software.inc.senpai">
                      <h2 style="font-weight: 800;font-size: 1.3em;">Abailable Now</h2>
                      <img src="/assets/images/playstore.png" alt="playstore" />
                    </a>
                  </div>
                </div>
              )
            }
            {
              !!launched && (
                <div>
                  <div class="flex items-center justify-between sm:mt-12 mt-8">
                    <div class="timer-container w-[110px] py-4 px-2 sm:w-[160px] sm:p-[16px]">
                      <div class="txt-extra">{months}</div>
                      <div class="title2 sm:mt-6 mt-2">MONTH</div>
                    </div>
                    <div class="timer-container w-[110px] py-4 px-2 sm:w-[160px] sm:p-[16px]">
                      <div class="txt-extra">{days}</div>
                      <div class="title2 sm:mt-6 mt-2">DAYS</div>
                    </div>
                    <div class="timer-container w-[110px] py-4 px-2 sm:w-[160px] sm:p-[16px]">
                      <div class="txt-extra">{hours}</div>
                      <div class="title2 sm:mt-6 mt-2">HOURS</div>
                    </div>
                  </div>
                  <form action="/" method="POST" class="sm:mt-16 mt-8 mx-auto flex flex-col w-full">
                    <input
                      id="email"
                      name="email"
                      type="text"
                      placeholder="Email address"
                      class="text-input txt-input"
                    />
                    <button class="action-btn btn-caption mt-6">Join the waitlist</button>
                    {errors.email && <p class="error mt-4">{errors.email}</p>}
                    {success && <p class="success mt-4">Successfully joined in waitlist</p>}
                  </form>
                </div>
              )
            }
          </div>
        </div>
      </div>
      <WifesRight />
      <WifesMobile />
    </div>
  </div>
</div>

<style>
  .header {
    position: relative;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    position: relative;
    overflow: hidden;

    .logo {
      margin: 64px 0 0 64px;
    }

    .header-bg-pink {
      width: 1136.422px;
      height: 951.387px;
      transform: rotate(-38.088deg);
      flex-shrink: 0;
      border-radius: 1136.422px;
      background: rgba(222, 11, 201, 0.3);
      filter: blur(110px);
      animation: bg-circle-pink 24s linear infinite;
    }

    .header-bg-blue {
      width: 1136.422px;
      height: 951.387px;
      transform: rotate(-38.088deg);
      flex-shrink: 0;
      border-radius: 1136.422px;
      background: rgba(18, 134, 240, 0.3);
      filter: blur(110px);
      animation: bg-circle-blue 24s linear infinite;
    }

    .content {
      position: absolute;
      top: 0;

      .timer-container {
        border-radius: 16px;
        background: #1a1d28;
      }
    }
  }
</style>
