---
import Image from '~/components/common/Image.astro';
import Step from '~/components/Step.astro';
---

<div class="how-it-works">
  <div class="container text-center sm:p-24 px-4 py-20">
    <div class="h2">How it Works</div>
    <div class="sm:mt-4 mt-2">
      <Image src='~/assets/images/line.png' alt="line" width={157} class="mx-auto" />
      <div class="steps mt-10">
        <Step />
      </div>
    </div>
  </div>
</div>
