---

---

<div class="track">
  <div class="container sm:p-28 px-4 py-24">
    <div class="text-center mx-auto max-w-[530px]">
      <div class="h2">Affiliate Marketing</div>
      <div class="body-large sm:mt-6 mt-4 text-neutral-200">
        Are you a young e-socialite? Get paid to market for us! Limited slots available, email us at team@senpaiapp.com.
      </div>
    </div>
    <div class="flex flex-wrap lg:flex-nowrap items-center justify-center sm:gap-20 gap-12 sm:mt-16 mt-12">
      <div>
        <img src="/assets/images/bg-track.png" alt="bg-track" width={542} />
      </div>
      <div class="content max-w-[566px]">
        <div>
          <div class="title1">Influencer Track</div>
          <div class="mt-2">
            <div class="caption1 py-2 flex gap-1">
              <div class="w-[24px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M9 13L11 15L16 10"
                    stroke="#5B6277"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <span>Free T-Shirt</span>
            </div>
            <div class="caption1 py-2 flex gap-1">
              <div class="w-[24px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M9 13L11 15L16 10"
                    stroke="#5B6277"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <span>25 cents per first 2000 referrals, 10 cents after</span>
            </div>
            <div class="caption1 py-2 flex gap-1">
              <div class="w-[24px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M9 13L11 15L16 10"
                    stroke="#5B6277"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <span>Tweet about us, wear your swag on Instagram for sponsored content</span>
            </div>
          </div>
        </div>
        <div class="mt-12">
          <div class="title1">University Track</div>
          <div class="mt-2">
            <div class="caption1 py-2 flex gap-1">
              <div class="w-[24px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M9 13L11 15L16 10"
                    stroke="#5B6277"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <span>Free T-Shirt</span>
            </div>
            <div class="caption1 py-2 flex gap-1">
              <div class="w-[24px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M9 13L11 15L16 10"
                    stroke="#5B6277"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <span>25 cents per first 2000 referrals, 10 cents after</span>
            </div>
            <div class="caption1 py-2 flex gap-1">
              <div class="w-[24px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <path
                    d="M9 13L11 15L16 10"
                    stroke="#5B6277"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"></path>
                </svg>
              </div>
              <span>Are you a NY/NJ college student? Post and pass out laminated flyers on campus and make money!</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img src="/assets/images/track-gradient.png" alt="track-bg" class="track-bg" />
</div>

<style>
  .track {
    position: relative;

    .content {
      .title1 {
        border-bottom: 2px solid #5b6277;
        display: inline-block;
        padding: 16px 24px 16px 0;
      }
    }

    .track-bg {
      position: absolute;
      top: 10px;
      right: 0;
    }
  }
</style>
